#langs div div {
  background-color: white;
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid black;

  h2 {
    color: black;
    display: block;
    line-height: 0;
    margin-top: 90px;
  }

  h5 {
    padding-top: 2px;
    display: block;
    line-height: 0;
  }
}

#langs div div:hover {
  background-color: black;
  color: white;
}

.selected-dutch {
  background-image: url('../../assets/netherlands.png');
  background-repeat: 'no-repeat';
  opacity: 0.3;
}

.selected-german {
  background-image: url('../../assets/germany.png');
  background-repeat: 'no-repeat';
  opacity: 0.3;
}

.selected-french {
  background-image: url('../../assets/france.png');
  background-repeat: 'no-repeat';
  opacity: 0.3;
}

#langs div[class^="selected"] {
  opacity: 0.3;
  background-color: rgb(114, 114, 114);
  color: black;
  border: 2px solid black;
}