#langs div div {
  background-color: white;
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid black;

  h2 {
    display: block;
    line-height: 0;
    margin-top: 90px;
  }

  h5 {
    padding-top: 2px;
    display: block;
    line-height: 0;
  }
}

.selected-dutch {
  background-image: url('../../assets/netherlands.png');
  background-repeat: no-repeat;
}

.selected-german {
  background-image: url('../../assets/germany.png');
  background-repeat: no-repeat;
}

.selected-french {
  background-image: url('../../assets/france.png');
  background-repeat: no-repeat;
}

.selected-greek {
  background-image: url('../../assets/greece.png');
  background-repeat: no-repeat;
  background-position: center;
}

.selected-mandarin {
  background-image: url('../../assets/china.png');
  background-repeat: no-repeat;
  background-position: center;
}

.selected-finnish {
  background-image: url('../../assets/finland.png');
  background-repeat: no-repeat;
  background-position: center;
}

#langs div[class^="selected"] {
  opacity: 0.5;
  background-color: #727272;
  border: 2px solid black;
}

#langs div div:not([class^="selected"]):hover {
  background-color: #CBCCCE;
  opacity: 0.5;
}