@import '../../style/colors';
@import '../../style/fonts';

@keyframes fadein {
  from { 
    opacity: 0; 
  }
  to { 
    opacity: 1; 
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.card-box {
  width: 65%;
  text-align: center;
  font-family: $body-sans-serif;
  vertical-align: top;

  .subheader * {
    display: inline;
  }

  .subheader {
    h3 {
      padding-right: 20%;
    }
    #black {
      color: black;
    }   
    #green {
      color: $score-green;
    } 
    #teal {
      color: $score-teal;
    } 
    #blue {
      color: $score-blue;
    }  
    #purple {
      color: $score-purple;
    }
    #orange {
      color: $score-orange;
    } 
    #red {
      color: $score-red;
    } 
  }
  
  h1 {
    font-size: 2em;

    span {
      color: $auth-background;
    }
  }

  label {
    padding-left: 5px;
  }

  #card {
    width: 75%;
    height: auto;
    margin: 2% auto;
    border: 6px ridge $auth-background;
    background-color: $card-background;

    p {
      line-height: 5em;
      font-size: 2.5em;
      animation: fadein 2s;
    }

    span {
      animation: fadein 2s;
      padding-left: 2%;
    }
  }

  button {
    border-radius: 5px;
    background-color: $card-buttons-light;
    padding: 8px 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2%;
  }

  button:hover {
    background-color: $card-buttons-dark;
  }

  button:focus {
    outline: none;
  }
}

.lang-info-box {
  width: 30%;
  padding: 20px;
  text-align: right;
  font-family: $body-sans-serif;

  img {
    width: 150px;
    height: auto;
  }

  h1, h3 {
    padding: 10px;
  }

  h1 {
    padding-top: 0;
  }

  h1 {
    text-decoration: underline;
  }

  p, h3 {
    padding: 5px;
  }

  span {
    padding-right: 5px;
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
  }
}

.card-box, .lang-info-box {
  display: inline-block;
}