@import '../../style/colors';
@import '../../style/fonts';

@keyframes fadein {
  from { 
    opacity: 0; 
  }
  to { 
    opacity: 1; 
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.card-box {
  width: 100%;
  text-align: center;
  font-family: $body-sans-serif;
  vertical-align: top;

  span {
    color: $error;
  }

  .subheader * {
    display: block;
  }

  .subheader {
    span {
      display: inline;
    }
    #black {
      color: black;
    }   
    #green {
      color: $score-green;
    } 
    #teal {
      color: $score-teal;
    } 
    #blue {
      color: $score-blue;
    }  
    #purple {
      color: $score-purple;
    }
    #orange {
      color: $score-orange;
    } 
    #red {
      color: $score-red;
    } 
  }
  
  h1 {
    font-size: 1.5em;

    span {
      color: $auth-background;
      display: none;
    }
  }

  label {
    padding-left: 5px;
  }

  #card {
    width: 90%;
    height: 200px;
    margin: 30px auto;
    border: 6px ridge $auth-background;
    background-color: $card-background;
    overflow: scroll;

    p {
      font-size: 2.5em;
      animation: fadein 2s;
    }

    span {
      animation: fadein 2s;
      display: inline;
      padding-left: 10px;
    }
  }

  button {
    border-radius: 5px;
    background-color: $card-buttons-light;
    padding: 8px 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 8px;
  }

  button:focus {
    outline: none;
  }
}

.lang-info-box {
  width: 90%;
  margin: 50px auto;
  text-align: center;
  font-family: $body-sans-serif;

  img {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: auto;
  }

  h1, h3 {
    padding: 10px;
  }

  h1 {
    padding-top: 0;
  }

  h1 {
    text-decoration: underline;
  }

  p, h3 {
    padding: 5px;
  }

  span {
    padding-right: 5px;
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
  }
}

.card-box, .lang-info-box {
  display: block;
}

#edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(90, 107, 115, 0.8);

  button {
    float: right;
    padding: 10px 20px;
    margin: 20px 20px 20px 0;
    border: 5px solid $card-buttons-dark;
    border-radius: 2px;
    background-color: $card-buttons-light;
  }
  
  #edit-form-modal {
    position: fixed;
    border: 2px solid black;
    border-radius: 5px;
    background-color: $base-background;
    z-index: 1000;
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    form {
      fieldset {
        background-color: $light-grey;
    
        span {
          color: red;
        }
      }
      
      legend {
        background-color: white;
        border: 1px dashed black;
        padding: 10px 20px;
      }
    
      #dropdowns {
        * {
          display: inline-block;
        }
      }
    
      input, label, span {
        padding: 5px;
        margin: 5px;
      }
    
      select {
        border: 1px solid black;
      }
  
      button {
        padding: 5px 10px;
        border-radius: 2px;
        background-color: $card-buttons-light;
        border: none;
      }
  
      button:hover {
        background-color: $card-buttons-dark;
      }
    }
  }
}

@media only screen and (min-width: 420px) {
  .card-box {
    width: 65%;
  
    .subheader * {
      display: inline;
    }
  
    .subheader {
      h3 {
        padding-right: 20%;
      }
    }

    h1 {
      font-size: 2em;
  
      span {
        display: inline;
      }
    }

    #card {
      width: 75%;
      height: 300px;
      margin: 2% auto;
      overflow: scroll;
  
      p {
        margin-top: 120px;
        font-size: 2.5em;
      }
  
      span {
        display: block;
        padding: 0;
      }
    }
  
    button {
      margin: 2%;
    }
  
    button:hover {
      background-color: $card-buttons-dark;
    }
  }

  .lang-info-box {
    width: 30%;
    padding: 20px;
    text-align: right;
    font-family: $body-sans-serif;

    img {
      display: inline-block;
      width: 150px;
      height: auto;
    }
  }

  .card-box, .lang-info-box {
    display: inline-block;
  }

  #modal {
    #edit-form-modal {
      width: 70%;
    }

    button:hover {
      cursor: pointer;
      background-color: $card-buttons-dark;
    }
  }

  @media only screen and (max-width: 800px) {
    .card-box {
      width: 100%;

      h1 > span {
        display: none;
      }
    }
    .lang-info-box {
      width: 90%;
    }

    .card-box, .lang-info-box {
      display: block;
    }

    .lang-info-box {
      text-align: center;
    }
  }
}