#intro {
  text-align: center;
  padding-top: 3%;

  h2 {
    line-height: 1.5em;
    font-size: 1.2em;
    font-style: italic;

    span:first-child {
      font-style: normal;
      margin-left: 10px;
      margin-right: 10px;
    }

    #hide {
      position: absolute;
      right: 10%;
      font-style: normal;
      font-size: 0.8em;
      font-weight: normal;
      background-color: white;
      padding: 1px 5px;
    }

    #hide:hover {
      cursor: pointer;
    }

    #add-toggle:hover {
      cursor: pointer;
    }
  }
}

#add-menu {
  position: absolute;
  right: 10%;
}

#lang-choices {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  button {
    margin: 2% auto;
    padding: 1% 2%;
    border-radius: 10px;
  }

  button:focus {
    outline: 0;
  }
}