#intro {
  text-align: center;
  padding-top: 5%;

  h4 {
    line-height: 1.5em;
    font-family: 'Aladin', cursive;
    font-style: italic;
    font-size: 1.2em;
    letter-spacing: 0.05em;
  }
}

#lang-choices {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  section {
    display: flex;
    flex-direction: row;

    div {
      width: 50%;
      margin: 20px auto;
      background-color: azure;
      width: 218px;
      height: 145px;
      margin: 20px;
      border-radius: 20px;
      text-align: center;
      line-height: 145px;
      font-size: 1.4em;
      border: 2px solid black;
    }

    .selected-dutch {
      background-image: url('../../assets/netherlands.png');
      background-repeat: 'no-repeat';
      opacity: 0.2;
    }

    .selected-germ {
      background-image: url('../../assets/germany.png');
      background-repeat: 'no-repeat';
      opacity: 0.2;
    }

    .selected-fren {
      background-image: url('../../assets/france.png');
      background-repeat: 'no-repeat';
      opacity: 0.2;
    }
  
    div:hover {
      background-color: black;
      color: white;
      border: 2px solid red;
    }
  }

}