@import '../../style/fonts';
@import '../../style/colors';

.auth-container {
  width: 400px;
  margin: 50px auto;
  border: 6px solid black;
  border-radius: 8px;
  text-align: center;
  background-color: $auth-background;
  
  h2 {
    font-size: 2em;
    font-family: $header-default;
    margin-bottom: 5px;
  }

  p {
    margin-top: 0;
  }
}

#intro {
  text-align: center;
  padding-top: 3%;
  font-family: $body-sans-serif;

  h3 {
    span:first-child {
      margin-left: 20px;
      margin-right: 20px;
    }

    #add-toggle:hover {
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
    color: $error;
  }

  a:hover {
    text-decoration: underline;
  }
}

#add-menu {
  text-align: center;
}

#lang-choices {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: $body-sans-serif;

  section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  button {
    margin: 2% 2%;
    padding: 1% 2%;
    border-radius: 10px;
    cursor: pointer;
  }

  button:focus {
    outline: 0;
  }
}