body {
  width: 100%;
  background-color: antiquewhite;
}

header {
  text-align: center;
  font-size: 100%;
  margin: 50px 0 100px 0;
  font-family: 'Boogaloo', cursive;
  font-size: 1.5em;
}

section {
  background-color: azure;
  margin: 0 auto;
  width: 600px;
  height: 300px;
  text-align: center;
  border: 15px groove #2165BB;
}

section h1 {
  width: 300px;
  line-height: 2em;
  margin: 110px auto;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Boogaloo', cursive;
}

span {
  color: #2165BB;
}

button {
  margin: 30px;
}

footer {
  margin: 100px 0 50px 0;
  text-align: center;
}