body {
  width: 100%;
  background-color: antiquewhite;
}

header {
  text-align: center;
  margin-bottom: 100px;
}

main {
  width: 80%;
  margin: 0 auto;
}

section {
  z-index: -1;
}

section button {
  background-color: azure;
  width: 20%;
  height: 145px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  border: 2px solid black;
}

section button:hover {
  background-color: black;
  color: white;
  border: 2px solid red;
}

#chosen {
  background-image: url('img/netherlands.png');
  background-repeat: no-repeat;
  color: white;
  border: 2px solid red;
}

button:focus {
  outline: 0;
}
