#login {
  text-align: center;
  margin: 2% 0 2% 0;
}

#login h1 {
  font-family: 'Aladin', cursive;
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 1%;
}

#verified {
  text-align: center;
}

#verified h1 {
  font-family: 'Aladin', cursive;
  font-style: italic;
  font-size: 1.5em;
  margin-top: 5%;
  color: #5693F2;
}

#verified h2 {
  font-family: 'Aladin', cursive;
  font-style: italic;
  color: red;
}

#vocab-form {
  text-align: center;
  margin: 5%;
}

#vocab-form div {
  display: inline-block;
  margin: 2%;
}

#vocab-form input {
  margin-top: 10%;
}

#vocab-form label {
  display: block;
}