#index-header {
  text-align: center;
  margin: 2% 0 5% 0;
}

#index-header h4 {
  line-height: 1.5em;
  font-family: 'Aladin', cursive;
  font-style: italic;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

#index-main {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#language {
  width: 80%;
  margin: 20px auto;
}

#language button {
  background-color: azure;
  width: 218px;
  height: 145px;
  margin: 20px;
  border-radius: 20px;
  text-align: center;
  font-size: 1.4em;
  border: 2px solid black;
}

#language button:focus {
  outline: 0;
}

#language button:hover {
  background-color: black;
  color: white;
  border: 2px solid red;
}

#chosen {
  color: black;
  border: 2px solid red;
}

#to-cards button {
  width: 100px;
  margin: 0 10px;
}

#to-cards button:focus {
  outline: 0;
}