@import '../../style/colors';
@import '../../style/fonts';

footer {
  text-align: center;
  height: 80px;
  margin-top: 20px;
  border-top: 3px ridge $header-border;
  border-bottom: 10px solid $mid-grey;
  background-color: $header-background;
  font-family: $header-default;
  color: white;

  p {
    text-align: right;
    padding-right: 5%;

    span {
      font-size: 150%;
    }
  }
}