footer {
  text-align: center;
  height: 80px;
  border: 10px ridge grey;
  background-color: #295599;
  color: white;
  text-shadow: 2px 2px black;
  font-family: 'Aladin', cursive;
  font-style: italic;

  p {
    text-align: right;
    padding-right: 5%;
    color: white;
  }
}