@import '../../style/colors';
@import '../../style/fonts';

#vocab-container {
  margin: 3% auto;
  width: 85%;
  font-family: $body-serif;
  font-size: 80%;

  
  #vocab-form {
    text-align: left;
    
    fieldset {
      border: 1px dashed black;
      background-color: #E0E0E0;

      p {
        color: red;
      }
    }
    
    legend {
      background-color: white;
      border: 1px dashed black;
      padding: 10px 20px;

      img {
        width: 20px;
        height: auto;
        padding-left: 5px;
        vertical-align: middle;
      }
    }
    
    div {
      padding: 10px;
      display: inline-block;
      
      input, label, span {
        padding: 10px;
      }

      label {
        display: inline-block;
      }
      
      span {
        color: $error;
      }
    }

    button {
      float: right;
    }
  }

  button {
    margin: 2%;
    border-radius: 5px;
    background-color: $card-buttons-light;
    padding: 8px 20px;
    float: left;
  }

  button:hover {
    background-color: $card-buttons-dark;
  }

  button:focus {
    outline: none;
  }
}