// header/footer
$header-default: 'Aladin', cursive;
$header-title: 'Permanent Marker', cursive;

// language panel / cards
$body-sans-serif: 'Montserrat', sans-serif;
$body-serif: 'Bitter', serif;

// word form
$word-form: 'Boogaloo', cursive;