@import '../../style/colors';
@import '../../style/fonts';

header {
  height: auto;
  position: relative;
  border-top: 10px solid $mid-grey;
  border-bottom: 3px ridge $header-border;
  background-color: $header-background;
  font-family: $header-default;
  
  h1 {
    font-family: $header-title;
    margin: 2% 0;
    padding-left: 5%;
    width: 60%;
    letter-spacing: 0.2em;
    color: white;
    text-shadow: 2px 2px black;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  p {
    padding-left: 5%;
    width: 50%;
    font-size: 130%;
    letter-spacing: 0.1em;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px black;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  nav {
    width: 40%;
    position: absolute;
    top: 10%;
    right: 0;
    letter-spacing: 1px;

    ul {
      list-style: none;
      padding-left: 0;
      text-align: right;

      li {
        width: 80%;
        padding: 1%;
        color: $header-menu;
        
        a {
          text-decoration: none;
          color: inherit;
        }

        a:hover {
          color: white;
        }
      }
    }
  }
}